<h1><%= title %></h1>
<p><%= message %></p>
<table>
    <tr>
        <td>To:</td>
        <td><%= recipient %></td>
    </tr>
    <tr>
        <td>From:</td>
        <td><%= sender %></td>
    </tr>
</table>